*{ margin:0; padding:0; }
body {
	margin: 0 auto;
	padding: 0;
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
body a {
	transition: 0.8s all;
	-webkit-transition: 0.8s all;
	-o-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-ms-transition: 0.8s all;
}
li {
	list-style: none;
}
img {
	border: 0;
	vertical-align: middle;
}
.mb-20 {
	margin-bottom: 20px
}
.uicss-cn {
	overflow-y: scroll;
	scrollbar-face-color: #888;
	scrollbar-shadow-color: #888;
	scrollbar-highlight-color: #000;
	scrollbar-track-color: #ccc;
	scrollbar-arrow-color: #ccc;
	overflow: -moz-scrollbars-button(#000) !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
 .uicss-cn::-webkit-scrollbar {
max-width: 10px;
height:auto
}
.uicss-cn::-webkit-scrollbar-button {
background-color:none
}
.uicss-cn::-webkit-scrollbar-track {
background:#ccc
}
.uicss-cn::-webkit-scrollbar-thumb {
background:#888;
}
.uicss-cn::-webkit-scrollbar-corner {
background:#82AFFF;
}
.uicss-cn::-webkit-scrollbar-resizer {
background:#FF0BEE;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* border: 1px solid #28558e21; */
	/* height: 120px; */
	position: relative;
}
/*以上是初始值以及覆盖*/
/*_____________________________________________________分割线*/
.main{ /* background: #252c35!important */}
#wrapper {
	position: -webkit-sticky;
	position: sticky;
	opacity: 0;
	background: url(../img/bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.wrapShow {
	-webkit-animation: 1.3s say forwards;
	animation: 1.3s say forwards
}
@-webkit-keyframes say {
		 0% {opacity: 0}
		 50% {opacity: 0.5}
		 100% {opacity: 1}
}
@keyframes say {
		 0% {opacity: 0}
		 50% {opacity: 0.5}
		 100% {opacity: 1}
}
#loading {}
#loading div {
	width: 100%;
	height: 50%;
	position: absolute;
	left: 0;
	background: #252c35;
	z-index: 50;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
#loading div:nth-of-type(1) {
	top: 0;
	-webkit-animation: 1.3s 1s xx1 forwards;
	animation: 1.3s 1s xx1 forwards
}
#loading div:nth-of-type(2) {
	bottom: 0;
	-webkit-animation: 1.3s 1s xx2 forwards;
	animation: 1.3s 1s xx2 forwards
}
#loading span {
	width: 0%;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -2px;
	z-index: 60;
	-webkit-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
	-webkit-animation: 1s xxoo;
	animation: 1s xxoo;
}
@-webkit-keyframes xxoo {
		 0% {width: 0;}
		 100% {width: 100%}
}
@keyframes xxoo {
		 0% {width: 0;}
		 100% {width: 100%}
}
 @-webkit-keyframes xx1 {
		 0% {height: 50%}
		 100% {height: 0%}
}
 @keyframes xx1 {
		 0% {height: 50%}
		 100% {height: 0%}
}
@-webkit-keyframes xx2 {
		 0% {height: 50%}
		 100% {height: 0%}
}
@keyframes xx2 {
		 0% {height: 50%}
		 100% {height: 0%}
}
/*全局加载动画*/
/*_____________________________________________________分割线*/


.iframe_mx {
	width: 100%;
	height: 100%;
	border: 0;
}
/*链接link*/
/*_____________________________________________________分割线*/

.nav>li>a {
	position: relative;
	    display: block;
	    padding: 10px 15px;
	    color: #3b98c8;
	    /* border-left: 4px solid #2b333e; */
	    margin: 10px;
	    background-color: rgb(185 220 237 / 83%);
		border-radius: 5px;
}
.nav>li>a:hover, .nav>li>a:focus, .nav>li>a.active {
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: rgb(185 220 237 / 83%);
	color: #FFFFFF;
	/* color: #3b98c8;
	background: #252c35; */
	/* border-left: 4px solid #3b98c8 */
}
.nav > li > div {
	/* background: #141a21; */
	display: none;
}
.nav >li > div> ul> li {
	padding: 10px 10px;
	background-color: rgb(185 220 237 / 83%);
	margin: 10px 10px 10px 20px;
	color: #3b98c8;
	border-radius: 5px;
	}
}
.nav >li > div> ul {
	padding: 0
}
.nav >li> div >ul> li > a:hover, .nav >li> div >ul> li > a:focus {
	color: #fff;
	/* background: #141a21; */
}
.navbar-default {
	/* -webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-radius: 0;
	padding: 0;
	margin: 0;
	border: 0; */
	background-color: #252c3500;
	/* -webkit-box-shadow: 0 0 2px #977f7f;
	box-shadow: 0 0 2px #977f7f; */
	left: 220px;
}
.btn-toggle-mx {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: 0.8s all;
	-o-transition: 0.8s all;
	transition: 0.8s all
}
.btn-toggle-mx.transmx {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
/*导航以及开关*/
/*_____________________________________________________分割线*/


.bg{	
	background: url(../img/bg.jpg) no-repeat;
	background-size: 100% 100%; overflow: hidden; }

.lang{
	/* margin-left: 88%; */
	/* position: absolute; */
	/* top: 40%; */
	    margin-top: 80px;
		float: right;
}
.lang a{color: #fff;}
.narbar-title{
	margin-left: 30%;
    margin-top: 5px;
	float: left;
	position: absolute;
	top:20%;}
.narbar-title .a{font-size: 42px;
    color: #5faac9;
    font-family: fantasy;
    letter-spacing: 2px;
    text-shadow: 0 0.1em 20px #fbf281, 0.05em -0.03em 0 #fbf281, 0.05em 0.005em 0 #fbf281, 0em 0.08em 0 #fbf281, 0.05em 0.08em 0 #fbf281, 0px -0.03em 0 #fbf281, -0.03em -0.03em 0 #fbf281, -0.03em 0.08em 0 #fbf281, -0.03em 0 0 #fbf281;}
.narbar-title .b{margin-left: 50px;
    margin-left: 100px;
        color: #fff;
        letter-spacing: 1px;
        font-family: monospace;
        margin-top: 5px;
/* 	text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;}
 */}
.framesize{
	/* height: 600px; */
	height:calc(100vh - 80px);
	width: 100%;
	overflow: hidden;
	background-color: #ffffff8f;
}
.bottom {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color:#8e8989de ;
    color: #272727c7;
	/* bottom: 0;
	    position: absolute; */
	    width: 100%;
}
.bottom a{    color: white;
    font-size: 16px;}
.introduce{
	margin: 50px 50px 90px;
}

.introduce p{
	margin: 20px 0;
}
.introduce h2{text-align: center;}
.introduce .intr_txt{    text-indent: 2em;margin-top: 20px;}



/*_____________________________________________________分割线*/
/*尺寸全局覆盖*/
@media screen and (min-width:1200px) {}
@media screen and (min-width: 960px) and (max-width: 1199px) {}
@media screen and (min-width: 768px) and (max-width: 959px) {}
@media only screen and (min-width: 245px) and (max-width: 767px) {
		#wrapper #sidebar-nav, #wrapper .main {
			padding-top: 120px!important;
		}
		
		.narbar-title {
			margin-left: 10%;
			    margin-top: 15px;
			    float: left;
			    position: absolute;
			    top: 0%;
		}
		.narbar-title .a {
		    font-size: 28px;
		}
		
		.narbar-title .b {
		    margin-left: 0px; 
		    color: #fff;
		    letter-spacing: 0px; 
		    font-family: monospace;
		    margin-top: 0px;
			font-size: 13px;
		}
		.narbar-title .cn {
			    margin-left: 70px;
		}
		.lang {
		    margin-left: 80%;
		    position: absolute;
		    top: 75%;
			margin-top: 90px;
		}
		.lang .cn{
			    margin-left: 80%;
		}
		.navbar-btn {
			margin-top: 85px;
			    padding: 0px;
		}
		.navbar-btn img{
			height: 30px;
			width: 30px;
		}
		.navbar-btn button {
			padding:0;
		}
}
